/**********************************************************************
 * CSS for FCM documents.
 *
 **********************************************************************/


/**********************************************************************
 * FOREGROUND COLOUR
 *
 **********************************************************************/
a:link
{
    color: blue;
}

a:visited
{
    color: purple;
}

a:active,
a:hover
{
    color: blue;
}

code,
kbd,
var
{
    color: navy;
}


/**********************************************************************
 * BACKGROUND COLOUR
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5,
code,
kbd,
pre,
samp,
.image
{
    background: #eee;
}


/**********************************************************************
 * BORDER
 *
 **********************************************************************/
dl,
kbd,
pre,
samp,
.image
{
    border: thin solid #ddd;
}


/**********************************************************************
 * FONT
 *
 **********************************************************************/
body
{
    font-family: sans-serif;
}

code,
kbd,
samp,
var
{
    font-family: monospace;
}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 175%;
}

h3
{
    font-size: 150%;
}

h4,
h5
{
    font-size: medium;
}

address
{
    font-size: small;
}

address,
var
{
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
dt
{
    font-weight: bold;
}


/**********************************************************************
 * CLASSIFICATION
 *
 **********************************************************************/
#fcm-content ul li
{
    list-style: none;
}

code,
kbd,
samp
{
    white-space: nowrap;
}


/**********************************************************************
 * TEXT DECORATION
 *
 **********************************************************************/
a:link
{
    text-decoration: underline;
}

a:visited
{
    text-decoration: none;
}

a:active,
a:hover
{
    text-decoration: underline;
}


/**********************************************************************
 * TEXT ALIGNMENT
 *
 **********************************************************************/
address,
h1
{
    text-align: center;
}

#ukmo-logo,
#document-info address
{
    text-align: right;
}


/**********************************************************************
 * DISPLAY
 *
 **********************************************************************/

/**********************************************************************
 * BORDER-RADIUS
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5,
dl,
pre,
.image
{
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}


/**********************************************************************
 * MARGIN
 *
 **********************************************************************/
address
{
    margin: 1em;
}

img
{
    margin: 0.25em;
}

dl,
dd
{
    margin-bottom: 0.5em;
}

dl
{
    margin-top: 0.5em;
}


/**********************************************************************
 * PADDING
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5
{
    padding: 0.4em;
}

dl,
li,
pre,
.image
{
    padding: 0.2em;
}

code,
kbd,
samp,
var
{
    padding-left: 0.2em;
    padding-right: 0.2em;
}
