/**********************************************************************
 * CSS for html2ps for FCM documents.
 *
 **********************************************************************/

/**********************************************************************
 * FOREGROUND COLOUR
 *
 **********************************************************************/
a:link
{
    color: blue;
}


/**********************************************************************
 * FONT
 *
 **********************************************************************/
body
{
    font-family: Helvetica;
}

code,
kbd,
samp,
var
{
    font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
dt
{
    font-weight: bold;
}


/**********************************************************************
 * CLASSIFICATION
 *
 **********************************************************************/
code,
kbd,
samp
{
    white-space: nowrap;
}


/**********************************************************************
 * TEXT ALIGNMENT
 *
 **********************************************************************/
address,
h1
{
    text-align: center;
}


/**********************************************************************
 * DISPLAY
 *
 **********************************************************************/

/**********************************************************************
 * BORDER-RADIUS
 *
 **********************************************************************/


/**********************************************************************
 * MARGIN
 *
 **********************************************************************/
address
{
    margin: 1em;
}

img
{
    margin: 0.25em;
}

dl,
dd
{
    margin-bottom: 0.5em;
}

dl
{
    margin-top: 0.5em;
}

@page
{
    margin: 2cm;
}


/**********************************************************************
 * PADDING
 *
 **********************************************************************/
h1,
h2,
h3,
h4,
h5
{
    padding: 0.4em;
}

dl,
li,
pre,
.image
{
    padding: 0.2em;
}

code,
kbd,
samp,
var
{
    padding-left: 0.2em;
    padding-right: 0.2em;
}
