#- forcing files storing 
FORCING_DIR=~/FORCING
#- input files storing 
INPUT_DIR=${CONFIG_DIR}/${NEW_CONF}/EXP00
#- only for IBM
#TMPDIR=${CONFIG_DIR}/${NEW_CONF}/EXP00
#- VALIDATION files storing 
NEMO_VALIDATION_DIR=~/NEMO_VALIDATION
